@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white-color: #fff;
  --yellow-color: #ffff00;
  --dark-color: #000831;
}

html,
body {
  height: 100%;
  font-size: 0.8333333333vw;
  background: linear-gradient(
    355deg,
    rgba(0, 11, 66, 1) 0%,
    rgba(1, 15, 88, 1) 47%,
    rgba(2, 17, 97, 1) 100%
  );
}

.container {
  @apply px-[8.75rem] max-w-[120rem];
}

.white-text {
  @apply text-[var(--white-color)];
}
.yellow-text {
  @apply text-[var(--yellow-color)];
}

.nav-link-list-item {
  @apply transition-all duration-[0.25s];
}

.nav-link-list-item:hover {
  @apply text-[var(--white-color)];
}

.white-bg {
  @apply bg-[var(--white-color)];
}

.yellow-bg {
  @apply bg-[var(--yellow-color)];
}

.yellow-border {
  @apply border-[var(--yellow-color)];
}

.btn-filled {
  @apply transition-all duration-[0.35s] bg-[var(--yellow-color)] px-[3.5rem] py-[0.75rem] text-[var(--dark-color)] text-[1.375rem] tracking-[1px] font-semibold rounded-[0.5rem] border-[1px] border-[transparent];
}
.btn-filled:hover {
  @apply bg-[transparent] text-[var(--yellow-color)] border-[var(--yellow-color)];
}
.btn-outlined {
  @apply transition-all duration-[0.35s] bg-[transparent] px-[3.5rem] py-[0.75rem] text-[var(--yellow-color)] border-[1px] border-[var(--yellow-color)] text-[1.375rem] tracking-[1px] font-semibold rounded-[0.5rem];
}
.btn-outlined:hover {
  @apply bg-[var(--yellow-color)] text-[var(--dark-color)];
}
.montserrat-family {
  @apply font-['montserrat'];
}

.sec-padded {
  @apply py-[5rem];
}

.sec-heading {
  @apply text-[3.25rem] font-medium tracking-[2px] text-[var(--yellow-color)] font-['montserrat'];
}

.portfolio-typo {
  @apply text-[1.3rem] font-medium tracking-[3px]  text-[var(--dark-color)];
}
.portfolio-tab {
  @apply py-[0.8rem] px-[2rem] yellow-bg rounded-[0.5rem];
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
