@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white-color: #fff;
  --yellow-color: #ffff00;
  --dark-color: #000831;
  --dark-blue-color: #01051a;
}

html,
body {
  height: 100%;
  font-size: 0.8333333333vw;
  background-color: var(--dark-blue-color);
}

.container {
  @apply px-[8.75rem] max-w-[120rem];
}

.white-text {
  @apply text-[var(--white-color)];
}
.yellow-text {
  @apply text-[var(--yellow-color)];
}
.dark-text {
  @apply text-[var(--dark-color)];
}

.nav-link-list-item {
  @apply transition-all duration-[0.25s];
}

.nav-link-list-item:hover {
  @apply text-[var(--yellow-color)];
}
.header--right--link {
  @apply transition-all duration-[0.25s];
}
.header--right--link:hover {
  @apply bg-[var(--white-color)];
}

.white-bg {
  @apply bg-[var(--white-color)];
}
.transparent-bg {
  @apply bg-transparent;
}

.yellow-bg {
  @apply bg-[var(--yellow-color)];
}

.yellow-border {
  @apply border-[var(--yellow-color)];
}
.transparent-border {
  @apply border-transparent;
}

.btn-filled {
  @apply transition-all duration-[0.35s] bg-[var(--yellow-color)] px-[3.5rem] py-[0.75rem] text-[var(--dark-color)] text-[1.375rem] tracking-[0.25px] font-semibold rounded-[0.5rem] border-[1px] border-[transparent];
}
.btn-filled:hover {
  @apply bg-[transparent] text-[var(--yellow-color)] border-[var(--yellow-color)];
}
.btn-outlined {
  @apply transition-all duration-[0.35s] bg-[transparent] px-[3.5rem] py-[0.75rem] text-[var(--yellow-color)] border-[1px] border-[var(--yellow-color)] text-[1.375rem] tracking-[0.25px] font-semibold rounded-[0.5rem];
}
.btn-outlined:hover {
  @apply bg-[var(--yellow-color)] text-[var(--dark-color)];
}
.montserrat-family {
  @apply font-['montserrat'];
}

.sec-padded {
  @apply pb-[5rem];
}

.sec-heading {
  @apply text-[3.25rem] max-w-[31.5rem] text-center font-semibold tracking-[2px] text-[var(--yellow-color)] font-['montserrat'] mb-[2.5rem] leading-tight;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(
    180deg,
    rgba(13, 22, 69, 1) 52%,
    rgba(1, 5, 26, 1) 100%
  );
}

.swipe-below-ic {
  animation: arrowAnim ease 0.5s infinite reverse;
}

.portfolio-typo {
  @apply text-[1.3rem] font-medium tracking-[3px]  text-[var(--dark-color)];
}
.portfolio-tab {
  @apply py-[1rem] px-[1.5rem] rounded-[0.375rem] border-[var(--yellow-color)] border cursor-pointer;
}
.portfolio-tab.active {
  @apply yellow-bg;
}
.portfolio-tab.active span {
  @apply text-[var(--dark-color)];
}

/* FAQS */
.arrow-icon path{
  fill: var(--dark-color);
  transition: fill ease 0.35s;
}
.arrow-icon-yellow path{
  fill: var(--yellow-color);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes arrowAnim {
  0% {
    transform: translateY(-0.1rem);
  }
  50% {
    transform: translateY(0.1rem);
  }
  100% {
    transform: translateY(-0.1rem);
  }
}
